@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: "Ubuntu", sans-serif;

}

h2 {
    text-align: center;
    padding: 10px;
}

table {
    border-collapse: collapse;
    width: 95%;
    margin: 0 auto;
}

th,
td {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}

td:hover {
    background-color: aqua;
}

th {
    background-color: #f2f2f2;
}

footer {
    position: absolute;
    bottom: 0;
    margin-left: 15px;
}

main {
    display: grid;
    grid-template-columns: 1fr 500px;
}

main .tabela {
    grid-column: 1;
}

main .inserir {
    grid-column: 2;
}

main .inserir h2 {
    text-align: left;
}

main .inserir ul {
    display: flex;
    align-items: left;
    flex-direction: column;
    padding: 0;
    list-style-type: none;
}

main .inserir input {
    width: 30%;
    margin: 15px 0;
    padding: 5px;
}

main .inserir label {
    font-size: 18px;
}

.selecionada {
    background-color: #000000;
}