@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: "Ubuntu", sans-serif;

}

h2 {
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 95%;
    margin: 0 auto;
}

th,
td {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}

td:hover {
    background-color: #ffbb00;
}

th {
    background-color: #f2f2f2;
}

main {
    display: grid;
    grid-template-columns: 1fr 500px;
    gap: 50px;
    padding: 10px;
}

main .pizzas {
    grid-column: 1;
}

main .addPizza {
    grid-column: 2;
}

.addPizza form .Nome, #ingredients-container, .ingredient-row{
    padding-bottom: 10px;
}

form input, label, select, button {
    padding: 5px;
}

form input#pizza_name{
    width: 50%;
}
