@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: "Ubuntu", sans-serif;

}

h2 {
    text-align: center;
    padding: 10px;
}

table {
    border-collapse: collapse;
    width: 95%;
    margin: 0 auto;
}

th,
td {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}

td:hover {
    background-color: #ffbb00;
}

th {
    background-color: #f2f2f2;
}

footer {
    position: absolute;
    bottom: 0;
    margin-left: 15px;
}

main {
    display: grid;
    grid-template-columns: 1fr 500px;
}

main .tabela {
    grid-column: 1;
}

.inserir {
    grid-column: 2;
    padding: 20px;
    border: 1px solid #000000;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #ffffff;
}

.inserir h2 {
    text-align: center;
    margin-bottom: 20px;
}

.inserir ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.inserir li {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.inserir label {
    margin-bottom: 5px;
    font-weight: bold;
}

.inserir input,
.inserir button {
    padding: 8px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%; 
    box-sizing: border-box;
}

.inserir button {
    cursor: pointer;
    background-color: #388ae0;
    border: none;
    color: white;
    padding: 10px;
    margin-top: 10px;
    font-family: "Ubuntu", sans-serif;
}

.inserir button:hover {
    background-color: #0056b3;
}

.selecionada {
    background-color: #ffbb00;
}
