@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: "Ubuntu", sans-serif;

}

h2 {
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 95%;
    margin: 0 auto;
}

th,
td {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}

td:hover {
    background-color: #ffbb00;
}

th {
    background-color: #f2f2f2;
}

main {
    display: grid;
    grid-template-columns: 1fr 500px;
    gap: 50px;
}

main .pizzas {
    grid-column: 1;
}

main .addPizza {
    grid-column: 2;
    padding: 20px;
    border: 1px solid #000000;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #ffffff;
}

.addPizza form .Nome, #ingredients-container, .ingredient-row{
    padding-bottom: 10px;
}

.Nome {
    margin-bottom: 10px;
}

.addPizza input, label, select, button {
    padding: 5px;
}

.addPizza .ingredient-select {
    width: 30%;
}

form input#pizza_name{
    width: 50%;
}

.addPizza #add-ingredient {
    margin-bottom: 20px;
}

.addPizza .ingredient-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.addPizza .ingredient-select,
.addPizza .ingredient-quantity {
    margin-right: 10px;
}

.addPizza .remove-ingredient {
    background-color: #e3342f;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.addPizza .remove-ingredient:hover {
    background-color: #cc1f1a;
}

.addPizza .buttons button {
    padding: 8px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%; 
    box-sizing: border-box;
    cursor: pointer;
    background-color: #388ae0;
    border: none;
    color: white;
    font-family: "Ubuntu", sans-serif;
}

.selecionada {
    background-color: #e3342f;
}